name: Release

on:
  release:
    types: [created]

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    permissions:
     contents: read
     id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node 20.x
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Change version
        run: |
          jq '.version = "${{ github.ref_name }}"' package.json > package.new.json
          cp package.new.json package.json
          rm package.new.json

      - name: Update npm
        run: npm install -g npm@latest

      - name: Release package
        run: npm publish --provenance --access public
